<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Account Statement</title>
</head>
<body>
	<table>
		<tr>
			<th>S/N</th>
			<th>ACCOUNT</th>
			<th>ACCOUNT NAME</th>
			<th>END BALANCE</th>
		</tr>
		<tr th:each="datum: ${data}">
		    <td th:text="${datumStat.index + 1}"></td>
			<td th:text="${datum.loanNo}">Documnet Number</td>
			<td th:text="${datum.customerName}">Narration</td>
			<td th:text="${#numbers.formatDecimal(datum.endBalance, 1,'COMMA', 2, 'POINT')}">End Balance</td>
		</tr>
		<!--<tr>
			<th>CUMMULATIVE TOTALS</th>
			<th></th>
			<th></th>
			<th th:text="${#numbers.formatDecimal(summary.totalDebit, 1, 'COMMA', 2, 'POINT')}">Total Debit</th>
			<th th:text="${#numbers.formatDecimal(summary.totalCredit, 1, 'COMMA', 2, 'POINT')}">Total Credit</th>
			<th th:text="${#numbers.formatDecimal(summary.totalBalance, 1, 'COMMA', 2, 'POINT')}">Total Balance</th>
		</tr>-->
	</table>
</body>
</html>